body {
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial,
    sans-serif;
  margin: auto;
  font-size:13px;
}

:root {
  --theme-color: #2f3241;
  --theme-text-color: #ffffff;
}


::-webkit-scrollbar-track {
    /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
    background-color: transparent;
    border-radius: 5px;
    width: 5px;
}

::-webkit-scrollbar {
    width: 8px;
    background-color: var(--theme-color);
}

::-webkit-scrollbar-thumb {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.10,  var(--theme-color)), color-stop(0.50, rgb(255 255 255)), color-stop(0.90, var(--theme-color)));
}

::-webkit-scrollbar-thumb:hover {
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.25, rgb(65 104 207)), color-stop(0.50, rgb(91 157 237)), color-stop(0.75, rgb(62 99 199)));
}

.toast {
  visibility: hidden;
  min-width: 250px;
  background-color:  var(--theme-color);
  color: #fff;
  text-align: center;
  border-radius: 4px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.toast.show {
  visibility: visible;
  
}

@keyframes fadein { from {bottom: 0; opacity: 0;} to {bottom: 30px; opacity: 1;} }
@keyframes fadeout { from {bottom: 30px; opacity: 1;} to {bottom: 0; opacity: 0;} }



.playpen-sans-thai-font {
  font-family: "Playpen Sans Thai", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}

.page {
  overflow: auto;
  height: calc( 100vh - 3.5rem);
}


.thumb-container{
  width: 58px !important;
  height: 58px;
  overflow: hidden; /* Ensures the excess part of the image is hidden */
  padding: 0 !important;
  position: relative;
}
.thumb-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Scales the image to cover the container */
    object-position: center; /* Centers the image within the container */
}

.thumb-container .w3-check{
    position: absolute;
    top: 34px;
    right: 0px;
    opacity: 0.75;
    accent-color: var(--theme-color);
}

#app{
  background-color: var(--theme-color);
  color: var(--theme-text-color);
}